.App {

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navlink {
  color: #fff;
}

.carditem {
  width: 240px;
  height: auto;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
}

.card-link {
  font-size: 18px;
  font-weight: 500;
}

.search-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.card-subtitle {
  color: #fff;
}

.no-result{
  /* margin-top: 128px;
  margin-left: 256px; */
  display: flex;
  justify-content: center;
  margin-top: 128px;
  flex-direction: column;
  align-items: center;
}

.no-result img {
  width: 110px;
  height: 121px;
}
